ul.actions {
  display: flex;
  align-items: center;
  gap: 0.5em;

  &.wrap {
    flex-flow: row wrap;
  }

  &.center {
    justify-content: center;
  }
}

ul.actions-list {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  &.center {
    align-items: center;
  }
}

ul.actions,
ul.actions-list {
  & a,
  & button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.35em 1em;
    border: none;
    border-radius: 2em;
    background: var(--gray-200);
    color: var(--gray-800);
    cursor: pointer;
    font: inherit;
    font-weight: 600;
    gap: 0.5rem;
    line-height: 1.5;
    text-box: cap alphabetic;
    transition: background 0.25s ease;
    user-select: none;

    &:hover,
    &:focus {
      background: var(--gray-300);
    }

    &:disabled {
      background: var(--gray-100);
      color: var(--gray-600);
      cursor: initial;
    }

    &.primary {
      background: var(--green-700);
      color: var(--white);
      text-shadow: 0 1px 2px var(--green-900);

      &:hover,
      &:focus {
        background: var(--green-800);
      }
    }

    &.big {
      min-width: 20ch;
      padding: 0.75em 1.5em;
      font-size: 1rem;
    }
  }
}
