:root {
  /* tailwind slate */
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --gray-950: #020617;
  --blue-50: #ebf5ff;
  --blue-100: #dbeafe;
  --blue-200: #c3ddfd;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3f83f8;
  --blue-600: #1c64f2;
  --blue-700: #1a56db;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --yellow-50: #fffbeb;
  --yellow-100: #fef3c7;
  --yellow-200: #fde68a;
  --yellow-300: #fcd34d;
  --yellow-400: #fbbf24;
  --yellow-500: #f59e0b;
  --yellow-600: #d97706;
  --yellow-700: #b45309;
  --yellow-800: #92400e;
  --yellow-900: #78350f;

  /* generic colors */
  --white: #fff;

  /* component specific colors */
  --input-border-color: #d4d4d8;

  /* accent color */

  /* --accent-color: #2563eb; */

  /* --accent-color: #f90; */

  --accent-color: hsl(260deg 90% 40%);

  /* --accent-color: hsl(300deg, 90%, 40%); */
  --accent-100: oklch(from var(--accent-color) l c h / 10%);
  --accent-200: oklch(from var(--accent-color) l c h / 20%);

  /* sidebar background */
  --sidebar-background: oklch(25% 0.01 286deg);

  /* --sidebar-background: var(--gray-800); */

  --sidebar-width: 17.5rem;
  --font-family: intervariable, system-ui;
}

@font-face {
  font-display: swap;
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  src: url('../fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  src: url('../fonts/InterVariable-Italic.woff2') format('woff2');
}

html {
  accent-color: var(--accent-color);
  color-scheme: light;
  font-family: var(--font-family);
  font-feature-settings: 'calt', 'cv02', 'cv03', 'cv04', 'cv05', 'kern';
  font-optical-sizing: auto;
}
