.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabular-nums {
  font-variant: tabular-nums;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
  text-wrap: balance;
}
