.layout-guest {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;

  & .backdrop {
    position: fixed;
    background: var(--gray-100);
    background-size: cover;
    inset: 0;
  }

  & .container-wrapper {
    position: relative;
    height: fit-content;
    margin-block: 3rem;
    view-transition-name: containerwrapper;

    & .container {
      position: relative;
      display: flex;
      overflow: hidden;
      width: min(800px, 90vw);
      height: fit-content;
      min-height: 60dvh;
      border-radius: 1em;
      background: var(--white);
      box-shadow:
        0 0.25rem 0.5rem -0.1rem oklch(from var(--gray-400) l c h / 80%),
        0 0.25rem 3rem -1.5rem oklch(from var(--gray-400) l c h / 30%);
    }
  }

  & header.main {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/@front:img/guest-bg.webp') center no-repeat;
    background-size: cover;

    & .logo {
      width: 100%;
      height: 5rem;
      filter: drop-shadow(0 2px 12px #000);

      & h1 {
        height: 100%;
        background: url('/@front:img/coffeeco-invert.svg') center no-repeat;
        background-size: contain;
      }

      & a {
        display: block;
        height: 100%;

        & span {
          font-size: 0;
          opacity: 0;
        }
      }
    }
  }

  & .main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    font-size: 0.875rem;
    view-transition-name: main-wrapper;

    & .sessions.index {
      text-align: center;
    }

    & .sessions.view {
      & .field {
        & label {
          font-size: 0.875rem;
        }
      }

      & .pin-input {
        justify-content: flex-start;
      }

      & footer {
        margin-block-start: 3rem;
      }
    }

    & ul.actions {
      margin-block-start: 1.5rem;
    }

    & ul.roles {
      flex-flow: row wrap;
      margin-block: 1.5rem;

      & li {
        border-radius: 2em;
        background: oklch(from var(--green-800) l c h / 10%);
        color: var(--green-800);
        font-size: 0.875rem;
        transition: all 0.2s ease;

        &:hover,
        &:focus {
          background: oklch(from var(--green-800) l c h / 20%);
        }

        & label {
          display: block;
          padding: 0.5em 1em;
          cursor: pointer;
        }

        &:has(input:checked) {
          background: var(--green-800);
          color: var(--white);
          text-shadow: 0 1px 2px var(--green-900);
        }
      }
    }
  }
}
