.guest-wrap {
  display: flex;
  min-height: 100dvh;
  flex-direction: row-reverse;

  & > section {
    flex: 1;
  }

  & > figure {
    display: none;
  }

  & section {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background: var(--white);
    box-shadow: -4px 0 20px rgb(from var(--gray-900) r g b / 10%);

    & > div {
      width: 100%;
      max-width: 22rem;
    }

    & h1 {
      margin: 0 0 1em;
      font-size: 1.4rem;
      font-weight: 500;
    }

    & footer {
      text-align: center;

      & a {
        color: var(--gray-500);
      }
    }
  }
}

@media (width > 900px) {
  .guest-wrap {
    & > section,
    & > figure {
      flex: 1;
      margin: 0;
    }

    & figure {
      z-index: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      background: var(--gray-800) center no-repeat;
      background-image: var(--background-image);
      background-size: cover;

      & figcaption {
        padding: 0.2em 0.5em;
        border: 1px solid var(--gray-950);
        border-radius: 4px;
        margin: 0 0 1em 1em;
        background: rgb(from var(--gray-950) r g b / 80%);
        color: var(--white);
        font-size: 0.75em;
        opacity: 0.6;
        transition: opacity 0.25s ease-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
