.badge {
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0.3em 0.5em;
  border: 1px solid var(--gray-200);
  border-radius: 0.25em;
  background: var(--gray-100);
  color: var(--gray-700);
  font-size: 0.9em;
  gap: 0.35em;
  line-height: 1;
  transition:
    color 0.3s,
    background 0.3s;
  vertical-align: baseline;

  & .v-icon {
    font-size: 0.9em;
  }

  &.icon-only {
    border-radius: 50%;
    aspect-ratio: 1;
  }

  &.warning {
    border-color: var(--yellow-200);
    background: var(--yellow-100);
    color: var(--yellow-800);
  }

  &.success {
    border-color: var(--green-200);
    background: var(--green-100);
    color: var(--green-800);
  }

  &.danger,
  &.error {
    border-color: var(--red-200);
    background: var(--red-100);
    color: var(--red-800);
  }

  &.primary {
    border-color: oklch(from var(--accent-color) l c h / 13%);
    background: oklch(from var(--accent-color) l c h / 10%);
    color: var(--accent-color);
  }
}
