details {
  height: 1lh;
  transition: all 0.4s ease;

  & summary {
    cursor: pointer;
    font-weight: 550;
    list-style: none;

    /* make sure the chevron aligns nicely */
    translate: -2px 0;

    &::marker {
      content: '';
    }

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      display: inline-block;
      width: 1.1ch;
      height: 1.1ch;
      margin-right: 0.35em;
      background: var(--accent-color);
      content: '';
      mask: url('/@admin:icons/chevron-right.svg') center / contain no-repeat;
      transition: all 0.25s ease;
    }

    &:hover {
      color: var(--accent-color);
    }
  }

  &[open] {
    overflow: clip;
    height: auto;

    & summary {
      &::before {
        rotate: 90deg;
      }
    }
  }
}

@supports selector(::details-content) and (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::details-content {
    overflow: clip;
    height: 0;
    transition:
      all var(--transition-duration) ease,
      content-visibility var(--transition-duration) allow-discrete;
  }

  details {
    --transition-duration: 0.25s;

    transition: all var(--transition-duration) ease;
  }

  summary {
    transition: all var(--transition-duration) ease;
  }

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  [open]::details-content {
    height: auto;
    padding-bottom: 0.25em;
  }
}
