.pagination {
  text-align: center;

  table + & {
    & ul {
      border-top: 1px solid var(--gray-200);
      margin-block-start: 0;
      padding-block-start: 0.5em;
    }
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-block-start: 3rem;

    & a,
    & span {
      display: inline-block;
      padding: 0.65em 1em;
      border-radius: 4px;
    }

    & a:hover,
    & a:focus {
      background: var(--gray-100);
    }

    & li.active span {
      background: oklch(from var(--accent-color) l c h / 10%);
      color: var(--accent-color);
    }
  }

  & .page-item {
    &.prev {
      margin-right: auto;
    }

    &.next {
      margin-left: auto;
    }
  }
}
