table {
  width: 100%;
  border-collapse: collapse;

  &.fixed {
    table-layout: fixed;
  }

  & thead {
    border-bottom: 1px solid var(--gray-200);

    & th {
      font-weight: 600;
      line-height: 1;
      text-align: left;
    }
  }

  & tr {
    & th,
    & td {
      padding: 0.75em;
      border-bottom: 1px solid var(--gray-100);
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.number,
      &.align-right {
        text-align: right;
      }
    }

    &:last-child {
      & th,
      & td {
        border-bottom: none;
      }
    }
  }

  & tr.trashed {
    & td,
    & a {
      color: var(--gray-300);
      text-decoration: line-through;
    }

    & td > *:not(a) {
      filter: grayscale(1);
      opacity: 0.7;
    }
  }
}

@container main-section (width < 960px) {
  .table-wrapper {
    overflow: auto;
    margin-inline: calc(-1 * var(--viewport-padding-inline));

    & > div {
      display: flex;
      max-width: none;
      margin-inline: calc(1 * var(--viewport-padding-inline));
    }

    & table {
      width: auto;
      min-width: 100%;
      max-width: none;
    }
  }
}

@container main-section (width < 720px) {
  .table-wrapper {
    & > div {
      margin-inline: 0;
    }

    & table {
      & tr {
        & th,
        & td {
          &:first-child {
            padding-left: var(--viewport-padding-inline);
          }

          &:last-child {
            padding-right: var(--viewport-padding-inline);
          }
        }
      }
    }
  }
}
