table {
  width: 100%;
  border-collapse: collapse;

  & thead {
    border-bottom: 1px solid var(--gray-200);

    & th {
      font-weight: 600;
      line-height: 1;
      text-align: left;
    }
  }

  & tr {
    &:hover {
      background: var(--gray-lightest);
    }

    & th,
    & td {
      padding: 0.75em;
      border-bottom: 1px solid var(--gray-100);
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.number,
      &.align-right {
        text-align: right;
      }
    }

    &:last-child {
      & th,
      & td {
        border-bottom: none;
      }
    }
  }

  & tr.trashed {
    & td,
    & a {
      color: var(--gray-300);
      text-decoration: line-through;
    }

    & td > *:not(a) {
      filter: grayscale(1);
      opacity: 0.7;
    }
  }
}
