@layer reset, theme, global, components, layout, utilities;

@import url('reset.css') layer(reset);
@import url('fonts.css') layer(theme);
@import url('theme.css') layer(theme);
@import url('layouts/guest.css') layer(layout);
@import url('layouts/game.css') layer(layout);
@import url('views/results.css') layer(layout);
@import url('components/actions.css') layer(components);
@import url('components/button.css') layer(components);
@import url('components/dropdown.css') layer(components);
@import url('components/form.css') layer(components);
@import url('components/icon.css') layer(components);
@import url('components/modal.css') layer(components);
@import url('components/notification.css') layer(components);
@import url('components/pin-input.css') layer(components);
@import url('components/projects-list.css') layer(components);
@import url('components/table.css') layer(components);
@import url('utilities.css') layer(utilities);

/* view transitions */
:root {
  --tr-duration: 0.4s;
}

::view-transition-group(containerwrapper) {
  animation-duration: var(--tr-duration);
}

::view-transition-group(main-wrapper) {
  animation-duration: var(--tr-duration);
  animation-timing-function: ease-out;
}

::view-transition-old(main-wrapper),
::view-transition-new(main-wrapper) {
  overflow: clip;
  height: 100%;
  object-fit: none;
  object-position: bottom;
}

::view-transition-new(main-wrapper) {
  animation-delay: calc(var(--tr-duration) / 2);
}
